.panel-goal {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.panel-goal-narrow {
  display: flex;
  align-items: center;
  width: 17px;
  height: 17px;
  position: relative;
  margin-right: 15px;
}

.panel-goal-narrow-right {
  height: 100%;
  width: auto;
}

.panel-goal-narrow-down {
  width: 100%;
  height: auto;
}

.panel-goal-title {
  display: flex;
  font-size: 18px;
  margin-left: 0px;
}

.panel-goal-date {
  font-size: 14px;
  color: #bdcdd6;
  margin-left: auto;
}

.panel-goal-child {
  margin-left: 30px;
}
