.review-table {
  width: 80%;
  min-width: 600px;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.accordion-button,
.accordion-button.show,
.accordion-collapse,
.accordion-button:not(.collapsed),
.accordion-button:focus {
  background-color: #eee9da;
  border: none;
}
